@import url(bootstrap.min.css);
@font-face {
  font-family: 'plakette_serial-regular';
  src: url("../plakette_serial-regular-webfont.woff2") format("woff2"), url("../plakette_serial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: "plakette_serial-regular", sans-serif;
  font-size: 3.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*&.blue-arrow {
      background-image: url(../svg/arrow-blue.svg);
      content: '';
      width: 100px;
      position: relative;
      height: 100px;
      background-size: 100px;
      display:inline-block;
  } */
}
h2 img {
  margin-top: -9px;
  margin-left: -10px;
}

h3 {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
}

h5 {
  font-family: "Fira Sans", sans-serif;
}

.navbar {
  background-color: #3D60AC;
  color: #fff;
  border-bottom: 2px #fff solid;
}
.navbar-brand {
  font-family: "plakette_serial-regular", sans-serif;
  font-size: 4.5em;
  text-transform: uppercase;
  line-height: .8;
  letter-spacing: 2px;
}
.navbar-brand:hover {
  color: #000 !important;
}
.navbar-brand img {
  margin-right: -15px;
  height: .72em;
}
.navbar .nav-item {
  font-weight: 500;
  color: #fff !important;
}
.navbar .nav-item:hover {
  color: #000 !important;
}

.footer-brand {
  font-family: "plakette_serial-regular", sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: .8;
  letter-spacing: 2px;
  color: #fff;
}
.footer-brand:hover {
  text-decoration: none;
  color: #8FA6D6;
}
.footer-brand img {
  margin-right: -5px;
}

footer svg {
  color: #fff;
}
footer svg:hover path {
  fill: #8FA6D6;
}
footer ul {
  list-style-type: square;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #8FA6D6;
  text-decoration: none;
}

.bg-brand {
  background-color: #3D60AC;
}
.bg-brand-dark {
  background-color: #041B4B;
}

.jumbotron {
  position: relative;
  border-radius: 0;
}
.jumbotron:before {
  background-image: url(../svg/corner.svg);
  content: '';
  width: 150px;
  position: absolute;
  height: 150px;
  background-size: 150px 150px;
  bottom: -1px;
  left: 0px;
  z-index: 2;
}
.jumbotron:after {
  background-image: url(../svg/corner-blue.svg);
  content: '';
  width: 250px;
  position: absolute;
  height: 250px;
  background-size: 250px 250px;
  top: -1px;
  right: 0px;
}

.corner {
  position: relative;
}
.corner-blue:after {
  background-image: url(../svg/small-corner-blue.svg);
  content: '';
  width: 100px;
  position: absolute;
  height: 100px;
  background-size: 100px;
  top: -1px;
  right: 0px;
}
.corner-white:after {
  background-image: url(../svg/small-corner.svg);
  content: '';
  width: 100px;
  position: absolute;
  height: 100px;
  background-size: 100px;
  top: -1px;
  right: -5px;
}

.btn-light {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  border: 2px #fff solid;
  background-color: #3D60AC !important;
  border-radius: 0;
}
.btn-light:hover {
  background-color: #fff !important;
  color: #3D60AC;
  border-color: #fff;
}
.btn-outline-light {
  border-radius: 0;
  border-width: 2px;
  font-family: "Fira Sans", sans-serif;
}
.btn-primary {
  color: #3D60AC;
  font-family: "Fira Sans", sans-serif;
  border: 2px #3D60AC solid;
  background-color: #fff !important;
  border-radius: 0;
}
.btn-primary:hover {
  background-color: #3D60AC !important;
  color: #fff;
  border-color: #3D60AC;
}
.btn-submit {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  border: 2px #3D60AC solid;
  background-color: #3D60AC !important;
  border-radius: 0;
  width: 100%;
}
.btn-submit:hover {
  background-color: #fff !important;
  color: #3D60AC;
  border-color: #3D60AC;
}

.hero-header {
  background-image: url("../img/herosub.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
}
.hero-header.subpage {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}
.hero-block {
  background-color: rgba(61, 96, 172, 0.8);
  padding: 1em 2em;
  width: 70%;
  margin: auto;
  position: absolute;
  bottom: 1em;
  z-index: 1;
  left: 0;
  right: 0;
}
.hero-block.mobile-caption {
  position: relative;
  bottom: initial;
  width: 100%;
  padding: initial;
  background-color: #3D60AC;
}
.hero-block.mobile-caption h2 {
  font-size: 3em;
}

input.form-control {
  border: 2px #333 solid;
  border-radius: 0;
}
input.form-control:focus {
  border-color: #8FA6D6;
  box-shadow: 0 0 0 0.2rem rgba(61, 96, 172, 0.8);
}
input.form-control:placeholder-shown {
  border-color: #3D60AC !important;
}
input.form-control:focus:invalid {
  border-color: orange;
}
input.form-control:invalid {
  border-color: red;
}
input.form-control:focus:valid, input.form-control:valid {
  border-color: green;
}

select.custom-select {
  border: 2px #3D60AC solid;
  border-radius: 0;
}
select.custom-select:valid {
  border-color: green;
}

@media (max-width: 576px) {
  .hero-header {
    height: 50vh;
  }

  h2 {
    font-size: 4em;
  }
  h2 img {
    margin-top: -12px;
    margin-left: -15px;
    width: 24px;
    height: 48px;
  }

  .navbar-brand {
    font-size: 3.5em;
  }

  .jumbotron.subpage:before {
    width: 75px;
    height: 75px;
    background-size: 75px;
  }
  .jumbotron.subpage:after {
    width: 125px;
    height: 125px;
    background-size: 125px;
  }
}
/*
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
}
*/
a.anchor {
  position: relative;
  display: block;
  top: -90px;
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
