@font-face {
    font-family: 'plakette_serial-regular';
    src: url('../plakette_serial-regular-webfont.woff2') format('woff2'),
         url('../plakette_serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$brand-color: #3D60AC;
$brand-font: 'plakette_serial-regular', sans-serif;

$secondary-font: 'Fira Sans', sans-serif;

$brand-color-dark: #041B4B;

h2 {
    font-family: $brand-font;
    font-size: 3.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    img {
        margin-top:-9px;
        margin-left: -10px;
    }
    /*&.blue-arrow {
        background-image: url(../svg/arrow-blue.svg);
        content: '';
        width: 100px;
        position: relative;
        height: 100px;
        background-size: 100px;
        display:inline-block;
    } */
}

h3 {
    font-family: $secondary-font;
    font-style: italic;
    font-weight:500;
}
h5 {
    font-family: $secondary-font;
}

.navbar {
    background-color: $brand-color;
    color: #fff;
    &-brand {
        font-family: $brand-font;
        font-size: 4.5em;
        text-transform: uppercase;
        line-height: .8;
        letter-spacing: 2px;
        img {
            margin-right: -15px;
            height: .72em;
        }
    }
}
.bg {
    &-brand {
        background-color: $brand-color;
    }
    &-brand-dark {
        background-color: $brand-color-dark;
    }
}

.jumbotron {
    position:relative;
    &:before {
        background-image: url(../svg/corner.svg);
        content: '';
        width: 150px;
        position: absolute;
        height: 150px;
        background-size: 150px 150px;
        bottom: 0px;
        left: 0px;
        z-index: 2;
    }
    &:after {
        background-image: url(../svg/corner-blue.svg);
        content: '';
        width: 250px;
        position: absolute;
        height: 250px;
        background-size: 250px 250px;
        top: 0px;
        right: -5px;
    }
}
.corner {
    position:relative;
    &-blue:after {
        background-image: url(../svg/small-corner-blue.svg);
        content: '';
        width: 100px;
        position: absolute;
        height: 100px;
        background-size: 100px;
        top: 0px;
        right: -5px;
    }
    &-white:after {
        background-image: url(../svg/small-corner.svg);
        content: '';
        width: 100px;
        position: absolute;
        height: 100px;
        background-size: 100px;
        top: 0px;
        right: -5px;
    }
}

.btn {
    &-light {
        color: #fff;
        font-family: $secondary-font;
        border: 2px #fff solid;
        background-color: $brand-color !important;
        border-radius: 0;
        &:hover {
            background-color: #fff !important;
            color: $brand-color;
            border-color: #fff;
        }
    }
    &-outline-light {
        border-radius: 0;
        border-width: 2px;
        font-family: $secondary-font;
    }
    &-primary {
        color: $brand-color;
        font-family: $secondary-font;
        border: 2px $brand-color solid;
        background-color: #fff !important;
        border-radius: 0;
        &:hover {
            background-color: $brand-color !important;
            color: #fff;
            border-color: $brand-color;
        }
    }
}
.hero {
    &-header {
        background-image: url('../img/hero.jpg');
        background-position: center;
        height: 70vh;
    }
    &-block {
        background-color: rgba(61, 96, 172, .8);
        padding: 1em 2em;
        width: 70%;
        margin: auto;
        position:absolute;
        bottom: 1em;
        z-index: 1;
        left: 0;
        right: 0;
    }
}
