@import 'bootstrap.min.css';

@font-face {
    font-family: 'plakette_serial-regular';
    src: url('../plakette_serial-regular-webfont.woff2') format('woff2'),
         url('../plakette_serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$brand-color: #3D60AC;
$brand-font: 'plakette_serial-regular', sans-serif;

$secondary-font: 'Fira Sans', sans-serif;

$brand-color-light: #8FA6D6;
$brand-color-dark: #041B4B;
$brand-color-opacity: rgba(61, 96, 172, .8);

h2 {
    font-family: $brand-font;
    font-size: 3.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    img {
        margin-top:-9px;
        margin-left: -10px;
    }
    /*&.blue-arrow {
        background-image: url(../svg/arrow-blue.svg);
        content: '';
        width: 100px;
        position: relative;
        height: 100px;
        background-size: 100px;
        display:inline-block;
    } */
}

h3 {
    font-family: $secondary-font;
    font-style: italic;
    font-weight:500;
}
h5 {
    font-family: $secondary-font;
}

.navbar {
    background-color: $brand-color;
    color: #fff;
    border-bottom: 2px #fff solid;
    &-brand {
        font-family: $brand-font;
        font-size: 4.5em;
        text-transform: uppercase;
        line-height: .8;
        letter-spacing: 2px;
        &:hover {
            color: $brand-color-dark !important;
        }
        img {
            margin-right: -15px;
            height: .72em;
        }
    }
    .nav-item {
        font-weight:500;
        color: #fff !important;
        &:hover {
            color: $brand-color-light !important;
        }
    }
}
.footer {
    &-brand {
        font-family: $brand-font;
        font-size: 2.5em;
        text-transform: uppercase;
        line-height: .8;
        letter-spacing: 2px;
        color: #fff;
        &:hover {
            text-decoration:none;
            color: $brand-color-light;
        }
        img {
            margin-right: -5px;
        }
    }
}
footer {
    svg {
        color: #fff;
        &:hover path {
            fill: $brand-color-light;
        }
    }
    ul {
        list-style-type: square;
    }
    a {
        color: #fff;
        &:hover {
            color: $brand-color-light;
            text-decoration: none;
        }
    }
}
.bg {
    &-brand {
        background-color: $brand-color;
    }
    &-brand-dark {
        background-color: $brand-color-dark;
    }
}

.jumbotron {
    position:relative;
    border-radius: 0;
    &:before {
        background-image: url(../svg/corner.svg);
        content: '';
        width: 150px;
        position: absolute;
        height: 150px;
        background-size: 150px 150px;
        bottom: -1px;
        left: 0px;
        z-index: 2;
    }
    &:after {
        background-image: url(../svg/corner-blue.svg);
        content: '';
        width: 250px;
        position: absolute;
        height: 250px;
        background-size: 250px 250px;
        top: -1px;
        right: 0px;
    }
}
.corner {
    position:relative;
    &-blue:after {
        background-image: url(../svg/small-corner-blue.svg);
        content: '';
        width: 100px;
        position: absolute;
        height: 100px;
        background-size: 100px;
        top: -1px;
        right: 0px;
    }
    &-white:after {
        background-image: url(../svg/small-corner.svg);
        content: '';
        width: 100px;
        position: absolute;
        height: 100px;
        background-size: 100px;
        top: -1px;
        right: -5px;
    }
}

.btn {
    &-light {
        color: #fff;
        font-family: $secondary-font;
        border: 2px #fff solid;
        background-color: $brand-color !important;
        border-radius: 0;
        &:hover {
            background-color: #fff !important;
            color: $brand-color;
            border-color: #fff;
        }
    }
    &-outline-light {
        border-radius: 0;
        border-width: 2px;
        font-family: $secondary-font;
    }
    &-primary {
        color: $brand-color;
        font-family: $secondary-font;
        border: 2px $brand-color solid;
        background-color: #fff !important;
        border-radius: 0;
        &:hover {
            background-color: $brand-color !important;
            color: #fff;
            border-color: $brand-color;
        }
    }
    &-submit {
        color: #fff;
        font-family: $secondary-font;
        border: 2px $brand-color solid;
        background-color: $brand-color !important;
        border-radius: 0;
        width: 100%;
        &:hover {
            background-color: #fff !important;
            color: $brand-color;
            border-color: $brand-color;
        }
    }
}

.hero {
    &-header {
        background-image: url('../img/herosub.jpg');
        background-position: center;
        background-size:cover;
        height: 70vh;
    }
    &-header.subpage {
        background-image: url('../img/hero.jpg');
        background-position: center;
        background-size:cover;
        height: 40vh;
    }
    &-block {
        background-color: $brand-color-opacity;
        padding: 1em 2em;
        width: 70%;
        margin: auto;
        position:absolute;
        bottom: 1em;
        z-index: 1;
        left: 0;
        right: 0;
        &.mobile-caption {
            position:relative;
            bottom: initial;
            width: 100%;
            padding: initial;
            background-color: $brand-color;
            h2 {
                font-size:3em;
            }
        }
    }
}
input.form-control {
    border: 2px #333 solid;
    border-radius: 0;
    &:focus {
        border-color: $brand-color-light;
        box-shadow: 0 0 0 0.2rem $brand-color-opacity;
    }
    &:placeholder-shown {
        border-color: $brand-color !important;
    }
    &:focus:invalid {
        border-color: orange;
    }
    &:invalid {
        border-color: red;
    }
    &:focus:valid, &:valid {
        border-color: green;
    }
}

select.custom-select {
    border: 2px #3D60AC solid;
    border-radius: 0;
    &:valid {
        border-color: green;
    }
}

@media (max-width: 576px) {
    .hero {
        &-header {
            height: 50vh;
        }
    }
    h2 {
        font-size: 5em;
        img {
            margin-top: -10px;
            margin-left: -20px;
            width: 25px;
            height: 50px;
        }
    }
}
/*
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
}
*/
a.anchor {
    position:relative;
    display:block;
    top: -90px;
    visibility:hidden;
}
